@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600;700&family=Montserrat:wght@300;400;600&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #48cae4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.caja {
    display: flex;
    width: 450px;
    height: 450px;
}

.imagen {
    height: 100%;
    width: 50%;
    background: url("sara-saleh-cpisiUDKAqE-unsplash.jpg") no-repeat;
    background-size: cover;
    background-position-x: -140px;
    border-radius: 25px 0 0 25px;
}

.contenido {
    border-radius: 0 25px 25px 0;
    height: 100%;
    width: 50%;
    background-color: white;
   display: flex;
   flex-direction: column;
   
}
.categoria{
    letter-spacing: 4px;
    font-weight: 400;
}
.contenido h1{
    font-family: 'Domine', serif;
    font-weight: 700;
    font-size: 30px;
}