@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;800&display=swap');

body {
  height: 100vw;
  display: flex;
  margin: 0;
  border: 0;
  
}
.titulo{
    font-size: 40px;
    font-weight: 800;
    font-family: "Barlow",serif;
    width: 800px;
    color: white;
    margin: 30px;
    display: flex;
    float: left;
}

.txt{
    margin: 45px;
    display: flex;
    float: left;
    width: 800px;
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    font-family: "Barlow",serif;
    text-indent: 40px;
    color: white;
}


.imagen{
    background: url("images/desktop/image-header.jpg");
    height:1000px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo1{
    display: flex;
    justify-content: center;
    font-family: "Fraunces",serif;
    font-weight: 650;
    margin: 300px;
    font-size: 60px;
    color: white;
    word-spacing: 15px
}

.contenedor1{
    width: 955px;
    height: 800px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Barlow",serif;
    color: black;
    display: flex;
    margin-top: 625px;
}

.titulo2{
    display: flex;
    font-family: "Fraunces",serif;
    font-weight: 60;
    font-size: 50px;
    width: 400px;
    height: 270px;
    color: black;
    flex-direction: column;
    margin-top: 150px;
    justify-content: center;
    margin-left: 200px;
}

.texto{
    display: flex;
    flex-direction: column;
    font-family: "Fraunces",serif;
    font-weight: 60;
    font-size: 20px;
    color: black;
    height: 200px;
    width: 500px;
    margin-top: 400px;
    margin-left: -460px;
    float: left;
}

.imagen2{
    background: url("images/desktop/image-transform.jpg");
    height:700px;
    width: 950px;
    display: flex;
    float: right;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -799px;
}
