body{
    background-color: rgba(3, 45, 108, 0.923);
    color: white;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
.center{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 15px;
}
.estudiantes{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
   gap: 15px;
   justify-content: center;
}
.estudiante{
text-align: center;
width: 200px;
padding: 25px;
background-color: rgb(3, 17, 97);
color: rgb(196, 238, 10);
border-radius: 25px;
border: 1px solid white;
}
.center::after{

}

