body {
  background-color: rgb(44, 45, 62);
  color: rgb(255, 255, 255);
  font-size: 24px;
  /* margin: 0;
    padding: 0; */
}

.centro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 20px 20px; /* separador de texto */
}

.estudiantes {
  width: 50%;
  display: flex;
  flex-wrap: wrap; /* acomodar  */
  gap: 20px;
  justify-content: center;
}

.estudiante {
  text-align: center;
  width: 200px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 0);
  padding: 24px;
  border-radius: 20%;
  border: 3px solid #ffff;
}
.tareas {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#listaTareas {
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.tarea {
  width: 200px;
  padding: 24px;
  text-align: center;
  background-color: rgb(0, 128, 255);
  color: rgb(0, 22, 44);
  border-radius: 20%;
  border: 3px solid #ff0000;
  gap: 20px;
  list-style: none;
}
.ejemplos {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ejemplo1 {
  width: 15%;
  height: 400px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(141, 148, 222);
  color: rgb(0, 22, 44);
  border: 3px solid #1c003c;
  gap: 20px;
}
.ejemplo1 uno{
    width: 50%;
    padding: 10%;
    font-size: 25px;
    background-color: aquamarine;
    color: #1c003c;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;

}
/* .ejemplo1 h1 {
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  text-align: center;
  justify-content: center;
} */

.ejemplo2 {
    width: 18%;
    height: 400px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(141, 148, 222);
    color: rgb(0, 22, 44);
    border: 3px solid #1c003c;
    gap: 20px;
}
/* .ejemplo2 h1 {
width: 100%;  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
  text-align: center;
  justify-content: center;
} */
.ejemplos boton2{
    width: 50%;
    padding: 10%;
    font-size: 25px;
    background-color: aquamarine;
    color: #1c003c;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;

}
.ejemplo3 {
    width: 15%;
    height: 400px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(141, 148, 222);
    color: rgb(0, 22, 44);
    border: 3px solid #1c003c;
    gap: 20px;
}
/* .ejemplo3 h1 {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 25px;
  align-items: center;
  justify-content: center;
} */
.ejemplos tres{
    width: 50%;
    padding: 10%;
    font-size: 25px;
    background-color: aquamarine;
    color: #1c003c;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;

}
.fondo{
  background: url(https://hobbycon.com.co/wp-content/uploads/2021/09/Yu-Gi-Oh-Exodia-Hobby-Con-Funko-Pop.jpg);
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: center;
}