body {
  background-color: #1b263b;
  color: #fff;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.centro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  gap: 20px;
}

.estudiantes {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.estudiante {
  text-align: center;
  width: 200px;
  padding: 30px 0;
  background-color: #415a77;
  color: #fff;
  border-radius: 25px;
  border: 3px solid #fff;
}

#listaTareas {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  width: 100%;
  height: 150px;
  gap: 10px;
}

.tarea {
  background-color: rgb(229, 255, 207);
  color: rgb(46, 142, 244);
  border: 3px saddlebrown solid;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjetas {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tarjeta {
  height: 350px;
  width: 30.33%;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 5px saddlebrown solid;
  background-color: rgba(139, 69, 19, 0.316);
  display: flex;
  flex-direction: column;
}

.tarjeta button {
  background-color: rgb(223, 196, 176);
  color: black;
  padding: 10px;
  text-decoration: none;
  border-radius: 20px;
}

.fondo {
  background: url(https://images.unsplash.com/photo-1680252112129-91e7840cba38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80);
background-size: cover;
background-repeat:no-repeat ;
background-position: center;
}
