body{
    background-color: darkgray;
    color: black;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.centro{    

    display: flex;
    align-items: center;
    justify-content:center ;
    width: 100%;
    height: 100vh;
    gap: 1px;
}

.estudiantes{
    height: 50px;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.estudiante{
    padding: 15px ;
    background-color: black;
    width: 150px;
    height: 30px;
    color: white;
    border-radius: 25px;
    text-align: center;
    border: 2px solid ;
}