@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Jost:wght@500&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(215, 100%, 92%);
    flex-direction: column;
    flex-direction: row;
}

.contenedor{
    height: 500px;
    width: 320px;
    display: flex;
    border-radius: 15px;
    background-color: white;
   
    align-items: center;
   
}

img{
    border-radius: 10px;
    height: 280px;
    width: 290px;
    display: flex;
    margin:auto;
}

h1{
    color: hsl(216, 19%, 31%);
    font-family:'Jost',sans-serif;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

p{
    color: hsl(218, 11%, 48%);
    font-family:'Jost',sans-serif;
    padding-left: 19px;
    padding-right: 15px;
    text-align: center;
}