@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
}

.caja-todo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 100px;
}

header figure {
    text-align: center;
    width: 20%;
    padding: 30px 0;
    font-size: 30px;
    font-weight: 700;
}

.navegador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 38px 0;
}

.enlaces {
    width: 70%;
    display: flex;
    justify-content: left;
    gap: 40px;
}

.enlaces a {
    color:hsl(257, 7%, 63%);
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
}

.enlaces li {
    list-style: none;
}

.enlace-login {
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.enlace-login button{
    font-size: 12px;
    padding: 7px 20px;
    border-radius: 25px;
    font-weight: 600;
    font-size: 15px;
}

.login{
    border: none;
    background: transparent;
    color: hsl(257, 7%, 63%);
}

.sign{
    border: none;
    background: hsl(180, 66%, 49%);
    color: white;
}

.more{
    width: 78%;
    min-height: 500px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    gap: 10px;
}

.more h1{
    width: 600px;
    font-size: 66px;
    line-height: 80px;
    color:  hsl(255, 11%, 22%);
}
.more p{
    width: 500px;
    font-size: 20px;
    color: hsl(257, 7%, 63%);
}

.more button{
    width: 180px;
    padding: 0 3px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 25px;
    border: none;
    background: hsl(180, 66%, 49%);
    color: white;
}

.url{
    min-height: 150px;
    width: 80%;
    background: hsl(257, 27%, 26%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}
.url svg{
}



.url input{
    position: relative;
    width: 70%;
    padding: 20px 20px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: 500;
}

.url button{
    position: relative;
    padding: 15px 45px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 17px;
    background: hsl(180, 66%, 49%);
    color: white;
}