@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


body{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.campo-batalla{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    padding: 30px;
    border-radius: 20px;
}

.caja-batala{
    margin: 25px;
}

.text-mensajes{
    font-size: 45px;
}

.img-batalla{
    border-radius: 50%;
}

.btn-ataques{
    width: 200px;
    border-radius: 50%;
    margin: 20px;
}

.btn-ataques:hover{
    border: 2px solid red;
    cursor: pointer;
    margin: 18px;
}