.body {
  background-color: hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
  color: hsl(186, 14%, 43%);
}
.completo {
  background-color: white;
  display: flex;
  justify-content: center;
  margin-top: 350px;
  width: 930px;
  margin: 300px 10px 0px 450px;
    border-radius: 15px;
}


.mitad1 {
  width: 50%;
  margin: 15px 1px 15px 50px;
}

input{
  border: 0;
  outline: none;
}

.plata{
  font-size: 20px;
  font-family: 'Space Mono', monospace ;
  color: hsl(183, 100%, 15%);
  text-align: end;
  background-color: hsl(189, 41%, 97%);
}
.inValor {
  background-color: hsl(189, 41%, 97%);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  height: 30px;
}

.boton button{
  background: transparent; 
  border: 0px solid;
  font-family: 'Space Mono', monospace ;
  font-size: 20px;
}

.boton {
  width: 100%;
  margin: 0px 0px 45px 0px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: start;
  gap: 15px;
  font-size: 20px;
}

.boton1 {
  background-color: hsl(183, 100%, 15%);
  width: 100%;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton2 {
  background-color: hsl(183, 100%, 15%);
  width:  100%;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton3 {
  background-color: hsl(183, 100%, 15%);
  width:  100%;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton4 {
  background-color: hsl(183, 100%, 15%);
  width:  100%;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton5 {
  background-color: hsl(183, 100%, 15%);
  width:  100%;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton6 {
  background-color: hsla(188, 14%, 56%, 0.25); 
  width:  100%;
  height: 45px;
  border-radius: 5px; 
  text-align: center;
  color: hsl(184, 14%, 56%);
  display: flex;
  justify-content: center;
  align-items: center;
}


.titulo3{

}

.persona{
  font-size: 20px;
  font-family: 'Space Mono', monospace ;
  color: hsl(183, 100%, 15%);
  text-align: end;
  background-color: hsl(189, 41%, 97%);
}
.personas{
    background-color: hsl(189, 41%, 97%);
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    height: 30px;
    text-align: center;
}

.mitad2 {
  background-color: hsl(183, 100%, 15%);
  width: 50%;
  margin: 35px 15px 15px 50px;
  border-radius:15px;
  display: grid;
  flex-wrap: wrap;
  padding: 20px;
}

span{
  color: white;
}



.primeroUno{
  width: 80%;
  display: flex ;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}


.segundoUno{
  width: 80%;
  display: flex ;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}


.tercero{
margin-top: 20% ;
text-align: center;
  justify-content: center;
  align-items: center;
}

.tercero button{
  background-color: hsl(172, 67%, 45%);
  width:  100%;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  color:  hsl(183, 100%, 15%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid;
  font-family: 'Space Mono', monospace ;
  font-size: 20px;
  
}


#tips{
  font-size: 20px;
  font-family: 'Space Mono', monospace ;
  color: hsl(172, 67%, 45%);
  text-align: end;
  font-size: 30px;
  background-color: transparent;
}

#total{
  font-size: 20px;
  font-family: 'Space Mono', monospace ;
  color: hsl(172, 67%, 45%);
  text-align: end;
  font-size: 30px;
  background-color: transparent;
}