body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.padre {
  width: 100%;
}

.izquierda {
  width: 50%;
}

.derecha {
  width: 50%;
}

.izquierda > img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}