body {
  width: 100vw;
  margin: 0;
  font-family: "Barlow", sans-serif;
}

.main {
  width: 100%;
  height: 100vh;
  background: url("./images/desktop/image-header.jpg") no-repeat center;
}

nav {
  padding: 40px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  height: 36px;
  width: 186px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

a:hover {
  color: hsl(51, 100%, 49%);
}

.links {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
}

.contacto {
  padding: 20px 30px;
  background-color: #fff;
  color: black;
  font-family: "Fraunces", serif;
  border-radius: 50px;
  text-transform: uppercase;
}

.contacto:hover {
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  font-family: "Fraunces", serif;
  border-radius: 50px;
}

.verMas {
  width: 100%;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  letter-spacing: 10px;
  font-family: "Fraunces", serif;
}
.verMas h1 {
  padding-bottom: 80px;
}

.verMas img {
  height: calc(114px * 1.5);
  width: calc(36px * 1.5);
}

.contenedor {
  width: 100%;
  display: flex;
  font-family: "Fraunces", serif;
}
.contenido {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imagen {
  width: 50%;
}

.imagen img {
  display: flex;
  width: 100%;
}
.contenido h2 {
  color: rgb(32, 32, 32);
  margin: 5.08rem 7.2rem 0px 14.2rem;
  font-size: 65px;
}

.contenido p {
  color: rgb(108, 106, 127);
  margin: 0.05rem 14.2rem 0px 14.2rem;
  padding: 44px 0;
  font-size: 20px;
  line-height: 30px;
  font-family: "Barlow", sans-serif;
}
.contenido h3 {
  color: rgb(32, 32, 32);
  margin: 1.08rem 0rem 0rem 14.2rem;
  font-size: 18px;
  font-family: "Fraunces", sans-serif;
}
.contenedor2 {
  width: 100%;
  display: flex;
  font-family: "Fraunces", serif;
}
.contenido2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imagen2 {
  width: 50%;
}

.imagen2 img {
  display: flex;
  width: 100%;
}
.contenido2 h2 {
  color: rgb(32, 32, 32);
  margin: 5.08rem 7.2rem 0px 14.2rem;
  font-size: 65px;
}
.contenido2 p {
  color: rgb(108, 106, 127);
  margin: 0.05rem 14.2rem 0px 14.2rem;
  padding: 44px 0;
  font-size: 20px;
  line-height: 30px;
  font-family: "Barlow", sans-serif;
}
.contenido2 h3 {
  color: rgb(32, 32, 32);
  margin: 1.08rem 0rem 0rem 14.2rem;
  font-size: 18px;
  font-family: "Fraunces", sans-serif;
}

.contenedor3 {
  width: 100%;
  display: flex;
  font-family: "Fraunces", serif;
}
.imagen3 {
  width: 100%;
  height: 100vh;
  background: url(./images/desktop/image-graphic-design.jpg) no-repeat;
  background-size: calc(800px * 1.333) 800px;
}

.imagen3 h2 {
  color: hsl(167, 40%, 24%);
  margin: 33.08rem 14.2rem; 
  font-family: "Fraunces", serif;
  text-align: center;
  font-size: 45px;
}
.imagen3 p {
  color: hsl(167, 40%, 24%);
  margin: -33.95rem 16.2rem 0px 17.2rem; 
  padding: 44px 0;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-family: "Barlow", sans-serif;
}

.imagen4 {
  width: 100%;
  height: 100vh;
  background: url(./images/desktop/image-photography.jpg) no-repeat;
  background-size: calc(800px * 1.333) 800px;
}

.imagen4 h2 {
  color: hsl(198, 62%, 26%);
  margin: 33.08rem 14.2rem;
  font-size: 45px;
  text-align: center;
  font-family: "Fraunces", serif;
}
.imagen4 p {
  color: hsl(198, 62%, 26%);
  margin: -33.95rem 16.2rem 0px 16.2rem;
  padding: 44px 0;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-family: "Barlow", sans-serif;
}
.contenedor4 {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.testimonials h2 {
  color: hsl(210, 4%, 67%);
  font-size: 24px;
  letter-spacing: 8px;
  display: flex;
  text-align: center;
  font-family: "Fraunces", sans-serif;
  margin: 0 0 7% 38%;
}

.emily{
  width: 36.3%;
  float: left;  
  margin-left: 24%;
  
  }
.emily img {
  display: flex;
  border-radius: 100px;
  width: 13%;
  margin-bottom: 5%;
  }
  
.text-emily{
  color: hsl(213, 9%, 39%);
  margin: 10% 57% 0% -29%;; 
  text-align: center;
  }
  
.text2-emily {
  font-size: 20px;
  margin: 21% -5%;
  font-family: "Fraunces", sans-serif;
  }
  
.text3-emily {
  font-size: 14px;
  margin: -17% -8%;
  color: hsl(210, 4%, 67%);
  }

  .thomas{
  width: 36.3%;
  float: none;
  text-align: center;
  font-size: 15px;

  }
  .thomas img {
  display: flex;
  border-radius: 100px;
  width: 13%;
  margin-bottom: 5%;
  }
  
  .jennie{
  width: 36.3%;
  float: right;
  margin-right: 5%;
  }
  .jennie img {
  display: flex;
  border-radius: 100px;
  width: 13%;
  margin-bottom: 5%;
  }
