@media screen and (max-width: 375px) {
  .superior {
    justify-content: center;
  }

  .dos {
    display: none !important;
  }

  .hambuger {
    display: flex !important;
  }

  .mitad {
    display: grid !important;
  }

  .mdos {
    display: none;
  }

  .work {
    display: flex !important;
  }

  .work img {
    width: 325px;
    height: 280px;
  }

  .muno {
    width: 100% !important;
  }

  .muno h1 {
    font-size: 49px !important;
    line-height: 58px !important;
    margin-bottom: 17px !important;
  }

  .muno p {
    padding-right: 55px;
  }
  .muno button {
    width: 297px !important;
    margin-top: 49px !important;
    margin-bottom: 25px;
  }

  .acortadordos {
    display: grid !important;
    width: 366px !important;
  }

  .acortadordos input {
    width: 318px !important;
  }

  .acortadordos button {
    align-items: center;
    width: 329px !important;
  }

  .primero {
    padding: 10% 50px 3% 70px !important;
  }
  .cuadritos {
    display: grid !important;
  }

  .estadisticas {
    height: auto !important;
  }

  .casiFinal {
    font-size: 10px !important;
    height: 110px !important;
  }
  .casiFinal {
    height: 43px;
    font-size: 19px;
  }
  .final {
    display: grid !important;
    gap: 0% !important;
    text-align: center !important;
    font-size: 10px !important;
  }
  .final div {
    gap: 1px;
  }
  .final p {
    margin-bottom: 0% !important;
  }
  .urls {
    width: 366px !important;
    height: 209px !important;
  }

  .urlss {
    gap: 4px !important;
    font-size: 12px !important;
  }
  .urlss button {
    font-size: 13px !important;
    height: 29px !important;
    width: 101px !important;
  }
}

* {
  margin: 0;
  padding: 0;
}
.superior {
  align-items: center;
  background-color: #fff;
  display: flex;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  justify-content: space-between;
  padding: 3% 0% 3% 7.8%;
}
.banner {
  align-items: center;
  display: flex;
  font-family: Poppins, sans-serif;
  justify-content: space-between;
  width: 90%;
}
.imagen {
  display: flex;
  align-items: center;
  text-align: center;
  width: 5%;
}

.imagen img {
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
.banner a {
  text-decoration: none;
  color: gray;
}
.izBanner {
  display: flex;
  width: 50%;
  text-align: center;
  align-items: center;
}
.izBanner ul {
  list-style: none;
  display: flex;
  gap: 18px;
}
.hambuger {
  display: none;
}

.hambugerDos {
  display: none;
}

.menuHam{
  display: none;
  font-family: Poppins, sans-serif;
  text-align: center;
  align-items: center;
  background-color: #3b3054;
  margin: 5% 10% 3% 10%;
  color: white;
  border-radius: 25px;
  position: absolute;
  top: 82px;
  left: 34px;
  width: 225px;
  
}

.menuHam li{
  list-style: none;
  cursor: pointer;
}
.menuUno ul{
  display: grid;
  gap: 25px;
  padding-bottom: 30px;
  padding-top: 25px;
}



.menuDos ul{
  display: grid;
  gap: 25px;
  padding-bottom: 25px;
}


.menuDos button{
  background-color: #2acfcf;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 700;
  height: 40px;
  width: 118px;
}


.dos {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 90%;
}
.deBanner {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
.deBanner button {
  background-color: #2acfcf;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 1em;
  font-weight: 700;
  height: 50px;
  width: 120px;
}
.mitad {
  font-family: Poppins, sans-serif;
  padding: 3% 0 3% 7.8%;
  display: flex;
  width: 90%;
}
.work {
  display: none;
}
.muno {
  width: 40%;
}
.muno h1 {
  font-size: 60px;
  font-weight: 750;
  line-height: 60px;
  margin-bottom: 25px;
}
.muno p {
  font-size: 20px;
  color: #9e9aa7;
  line-height: 30px;
}
.muno button {
  background-color: #2acfcf;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 1em;
  font-weight: 700;
  height: 60px;
  width: 200px;
  margin-top: 70px;
}

.mdos {
  width: 50%;
}
.mdos img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.acortador {
  align-items: center;
  display: flex;
  font-family: Poppins, sans-serif;
  justify-content: space-evenly;
}
.acortadordos {
  display: flex;
  background-color: #3b3054;
  background-image: url(images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 1000px;
  height: 130px;
  justify-content: space-evenly;
  align-items: center;
}

.acortadordos input {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  position: relative;
  width: 600px;
  height: 45px;
  align-items: center;
  padding-left: 15px;
  color: gray;
}

.acortadordos button {
  background-color: #2acfcf;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  width: 150px;
}

.nuevos {
  align-items: center;
  display: flex;
  font-family: Poppins, sans-serif;
  justify-content: space-evenly;
  background-color: #ebe7ef;
  display: none;
}

.urls {
  margin-top: 20px;
  display: grid;
  background-color: white;
  border-radius: 10px;
  width: 1000px;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
}

.urlss {
  display: flex;
  gap: 80px;
  text-align: center;
  align-items: center;
}

.urlss button {
  background-color: #2acfcf;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 700;
  height: 33px;
  width: 122px;
}

.estadisticas {
  font-family: Poppins, sans-serif;
  width: 100%;
  background-color: #ebe7ef;
  text-align: center;
  align-items: center;
  height: 900px;
}

.primero {
  display: grid;
  padding: 10% 7.8% 3% 30%;
  width: 40%;
  align-items: center;
}

.primero h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.primero p {
  font-size: 25px;
  color: #9e9aa7;
  align-items: center;
  line-height: 30px;
}

.segundo {
  padding: 3% 7.8% 3% 7.8%;
  display: flex;
}

.cuadritos {
  display: flex;
  gap: 25px;
}

.cuadritos div {
  background-color: white;
  text-align: start;
}

.cuadritos div h1 {
  font-size: 25px;
  margin-bottom: 5px;
}

.cuadritos div p {
  font-size: 20px;
  color: #9e9aa7;
  width: 80%;
  line-height: 25px;
}

.cuadritos img {
  background-color: #3b3054;
  border-radius: 50%;
  height: 4.5em;
  justify-content: space-evenly;
  margin-bottom: 2.5em;
  margin-top: -2.5em;
  width: 4.5em;
}

.cuadrouno {
  padding: 10px 30px 30px 30px;
}
.cuadrodos {
  padding: 10px 30px 30px 30px;
}
.cuadrotres {
  padding: 10px 30px 30px 30px;
}

.casiFinal {
  font-family: Poppins, sans-serif;
  align-items: center;
  background-color: #3b3054;
  background-image: url(images/bg-boost-desktop.svg);
  display: flex;
  flex-direction: column;
  font-size: 25px;
  height: 9.5em;
  justify-content: space-evenly;
}

.casiFinal button {
  background-color: #2acfcf;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  width: 150px;
}

.casiFinal h1 {
  font-family: Poppins, sans-serif;
  color: white;
}

.final {
  background-color: #232127;
  display: flex;
  padding: 3% 0% 3% 7.8%;
  gap: 13%;
  font-family: Poppins, sans-serif;
}

.final img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0) saturate(7465%)
    hue-rotate(92deg) brightness(110%) contrast(105%);
}
.final p {
  color: white;
  font-size: 130%;
  margin-bottom: 10%;
}

.final a {
  text-decoration: none;
  color: white;
}

.final li {
  list-style: none;
  margin: 8% 0;
}
