body {
    width: 100vw;
    margin: 0;
    font-family: 'Barlow', sans-serif;
}
.contenedorMain{

    width: 100%;
}
@media screen and (max-width:375px) {
   /* .contenedorMain{
        height: 100vh;
        width: 100%;
        flex-direction: row;
        
    }*/
    .main{
        background-image: url(mobile/image-header.jpg) ;
        background-position: center;
        background-size: cover;
       
    }
    nav .links{
        display: none; 
    }
   
    nav img {
        height: 5vh !important;
        width: 50% !important;
        margin-left: -2vh;

    }
    nav svg{
        display: block !important ;
    }
    .verMas,.creatives {
        font-size:100%;
        margin-left: 2%;
        text-align: center;
    }
    
}

.main {
    width: 100%;
    height: 100vh;
    background: url("./images/desktop/image-header.jpg") no-repeat center ;
}

nav {
    padding: 40px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    height: 36px;
    width: 186px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

a:hover {
    color: hsl(51, 100%, 49%);
}

.links {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
}


.contacto {
    padding: 20px 30px;
    background-color: #fff;
    color: black;
    font-family: "Fraunces", serif;
    border-radius: 50px;
    text-transform: uppercase;
}


.contacto:hover {
    padding: 20px 30px;
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    font-family: "Fraunces", serif;
    border-radius: 50px;
}

.verMas {
    width: 100%;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    letter-spacing: 10px;
    font-family: 'Fraunces', serif;
}

.verMas h1 {
    padding-bottom: 80px;
}

.verMas img {
    height: calc(114px*1.5);
    width: calc(36px*1.5);
}

.contenedor1 {
    height: 100%;
    width: 100%;
    display: flex;
}

.brand {
    width: 50%;
    margin: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.huevo {
    background-image: url(images/desktop/image-transform.jpg);
    width: 83.2%;
    background-position: center;
    background-size: cover;
}

.contenedor2 {
    height: 100%;
    width: 100%;
    display: flex;
}

.right {
    margin: 10%;
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
}

.copa {
    background-image: url(images/desktop/image-stand-out.jpg);
    width: 83.4%;
    background-position: center;
    background-size: cover;
}

.contenedor3 {
    height: 75vh;
    width: 100%;
    display: flex;
}

.cereza {
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
    width: 50%;
    text-align: center;
    padding-top: 25%;
}

.naranja {
    background-image: url(images/desktop/image-photography.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    text-align: center;
    /*para bajar el texto ala parte inferior*/
    padding-top: 25%;
}

.contenedor4 {
    height: 100vh;
    width: 100%;
    text-align: center;
    padding-top: 10%;
}

.subcontenedor4 {
    height: 75%;
    display: flex;
    justify-content: center;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
.divs {
    width: 30%;
    align-items: center;
    margin-left: 2.5%;
}

.imgPer {
    padding: 20%;
    height: 12.5%;
}

.contenedor5 {
    height: 60vh;
    width: 100%;
    display: flex;
}

.div1,
.div2,
.div3,
.div4,
.img {
    background-color: rgb(55, 43, 226);
    height: 100%;
    width: 100%;
    
}
.contenedor6{
    height: 40ch;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #ACE1AF;
    
}
.subSunnyside{
   margin-bottom: 3%;
   margin-left: -2%;
   margin-top: -2%;
}
.h1-5{
    display: inline;
    margin-left: 3%;
    font-style: #2C7566;
}
.moverIzq{
    margin-right: 4%;
    margin-bottom: 7%;
}
.redes{
    margin-right: 3%;
    
}

.redesSociales{
    width: 2%;
    display: inline;
    justify-content: center;
    margin-left: 2%; 
}